.contakt{
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgb(249, 249, 249);
    background-image:url(фон.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
body{
    font-family: 'Press Start 2P', cursive;

}
a{
display:inline-block ;
padding: 13px;
background-color: rgb(255, 255, 255);
border-radius: 20px;
color: rgb(249, 132, 181);
text-decoration: none;
text-shadow: 2px 2px rgb(240, 84, 149);
letter-spacing: 3px;
}
.second{
    background-image: url(Розовый\ мрамор_\ фоны\ для\ фотошопа\ -\ инстапик.jpg);
    color: rgb(241, 44, 77);
    background-attachment: fixed;
    flex-direction: row;
    gap: 25px;
}
.hair{
    display: flex;
    max-width: 320px;
    background-color: rgb(248, 208, 215);
    flex-direction: column;
    align-items: center;
    border-radius: 60px;

}
.img{
    width: 91%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: 15px;

}
.img-first{
    background-image: url(https://i.pinimg.com/564x/b8/5b/be/b85bbe6d6783dd2a31e7e98fc9e95214.jpg);
}
.img-second{
    background-image:url(https://i.pinimg.com/564x/4b/19/b4/4b19b4827b816bdbfaa2eee269a60d45.jpg) 

}
.img-third{
    background-image: url(https://i.pinimg.com/564x/21/65/9d/21659d2e4d60d54e98db3b0f3317a6d8.jpg);
}
